{% extends 'base.html' %}
{% load static %}
{% block body %}
     <div class="main-wrapper">
        <div class="container-fluid" style="background-color: lightblue; padding: 3%">
    <h1 class="text-center" style="font-size: 46px; color: #000000">ABOUT SECTION</h1>
    </div>
    <div>
    <div style="padding: 70px;" class="pt-5">
<h1 style="color: #000000">WE ARE SHRIVASTAVA SOFTWARE</h1>
<br>
<p style="color: darkcyan">Founded by <a style="color: #000000">Arpit Shrivistava</a>, <a style="color: #000000">Abu Sufiyan</a> & <a style="color: #000000">Priyanhs Jhalani</a> in 2021, SHRIVASTAVA SOFTWARE has established itself as one of the premier BackEnd, FrontEnd and Android  consulting organizations.

</p>
    <br>
        <br>
    <h1 style="color: #000000">WHY WORK WITH US?</h1>
        <br>
    <p style="color: darkcyan">The SHRIVASTAVA Team can provide you with a low cost, highly skilled seasoned team to work on your projects, while you increase output and cut costs and also retain total team control while taking advantage of the scalability, and reduced administration.

</p>
<div style="padding-top: 4%" >
    <ol>
        <li style="color: #000000">Extended Delivery Team</li>
        <p style="color: darkcyan">Remote team with right skills aligned to your delivery methodology.</p>
        <br>
         <li style="color: #000000">Expand Your Skillset</li>
        <p style="color: darkcyan">Backend, FrontEnd, Android, IOSV Developer,..</p>
        <br>
         <li style="color: #000000">Shared Responsibility</li>
        <p style="color: darkcyan">Sharing of responsibilities and outcomes across projects in global locations..</p>
        <br>
         <li style="color: #000000">Shared Responsibility</li>
        <p style="color: darkcyan">Sharing of responsibilities and outcomes across projects in global locations..</p>
    </ol>
    </div>
            </div>
</div>



     <div class="ourteam"  style="padding-left: 70px; padding-right: 70px; padding-bottom: 70px;">
         <h1 style="color: #000000">Meet The Team</h1>

         <div class="container pt-5" style="margin-left: 14%; margin-right: 14%">
             <div class="row">
                 <div class="col-lg-3">
                     <img class="img-thumbnail imgBox" src="{% static 'images/arpit_sir.jpg' %}"    alt="icon"/>
                     <h2 class="text-center pt-2"><a href="https://www.linkedin.com/in/arpit-shrivastava-291522139">Arpit Shrivastava</a></h2>
                     <h4 style="color: #000000" class="text-center">CEO</h4>







                 </div>
                   <div class="col-lg-3">
                     <img  src="{% static 'images/abu3.jpg' %}"  class="img-thumbnail"  alt="icon"/>
                     <h2 class="text-center  pt-2">Sufiyan Qureshi</h2>
                      <h4 style="color: #000000" class="text-center">VPO</h4>>
                 </div>
                   <div class="col-lg-3">
                     <img  src="{% static 'images/ajay.jpg' %}"  class="img-thumbnail"  alt="icon"/>
                     <h2 class="text-center pt-2" ><a href="https://www.linkedin.com/in/ajay-kumar-jangid-821761128">Ajay Jhangid</a></h2>
<h4 style="color: #000000" class="text-center">VP</h4>
                   </div>

             </div>
         </div>




            <div class="container pt-5" style="margin-left: 14%; margin-right: 14%">
             <div class="row">
                 <div class="col-lg-3">
                     <img class="img-thumbnail" src="{% static 'images/priyansh.jpg' %}"   alt="icon"/>
                     <h2 class="text-center pt-2">Priyansh Jhalani</h2>
                     <p style="color: #000000" class="text-center">MANAGER</p>

                 </div>




             </div>
         </div>






     </div>


    </div>


{% endblock %}
